@import url('../../Variavel/_color.css');

.container{
    box-shadow: 0 4px 12px rgba(0,0,0,.3);
    padding: 1rem 2rem;
    margin: 2rem auto;
    background-color: var(--bg);
    border-radius: 20px;
}